:root {
    --bg-color-main: #a0512dc4;
    --logo-font-main: 'Lobster', cursive;
    --logo-font-color: wheat;
    --bg-color-navbar: #f3ddc5;
    --bg-color-nav-hover: #f0b87c;
    --bg-color-card: #212e53;
    --font-color-card-text: aliceblue;
}

body{
    background-color: lightgrey;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*header and nav bar styling */
.header-row-1 {
    background-color: var(--bg-color-main);
    vertical-align: middle;
}

.site-name {
    font-family: var(--logo-font-main);
    font-size: xx-large;
    color: var(--logo-font-color);
}

.site-slogan {
    font-family: var(--logo-font-main);
    font-size: x-large;
    font-weight: 300;
    color: var(--logo-font-color);
}

.nav-content {
    vertical-align: middle;
    background-color: var(--bg-color-navbar);
}


.search-input {
    width: 55vw;
    border-radius: 0rem 0rem 0rem 0.5rem;

}

#btn-search {
    border-radius: 0rem 0.5rem 0rem 0rem;
    background-color: var(--bg-color-navbar);
}

#btn-login {
    border-radius: 0rem 0.5rem 0rem 0.5rem;
    background-color: var(--bg-color-navbar);
}

#btn-search:hover {
    background-color: var(--bg-color-nav-hover);
}

#btn-login:hover {
    background-color: var(--bg-color-nav-hover);
}

.nav-item {
    border-radius: 0rem 0.5rem 0rem 0.5rem;
}

.nav-item:hover {
    background-color: var(--bg-color-nav-hover);
}

.dropdown-item:hover {
    background-color: var(--bg-color-nav-hover);
}

/*media query to stop the hover open dropdown effect on smaller devices*/

@media screen and (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .dropdown .dropdown-menu {
        display: none;
    }
}


.header-row-1 {
    background-color: var(--bg-color-main);
    vertical-align: middle;
}

.h-10{
    height: 2rem;
}

.debug-border{
    border: red solid 1px;
}

.justify-vertical{
    vertical-align: middle;
}

.card-img{
    width: 8rem;
    height: 10rem;
}

.text-bold{
    font-weight: bold;
}

/*Footer Styling*/
#footer{
    margin-top: auto;
}

.footer-link {
    color: lightgray;
}

.footer-link:hover {
    color: var(--bg-color-navbar);
}

.copyright {
    font-size: small;
}